.product-card {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.product-card_image-container {
  padding: 1rem;
  border-bottom: 1px solid #f3f3f3;
}

.product-card_image {
  width: 66%;
}

.product-card_subtitle {
  color: grey;
}

.product-card_tags-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5rem;
}

.product-card_tag {
  border: 1px solid lightgrey;
  padding: .5rem 1rem;
  font-size: .75rem;
  margin: 0;
}


