#root {
  width: 100%;
}

body {
  background-color: #f5f7f9;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  opacity: 0.25;
}

.active {
  transition: opacity 0.5s;
  opacity: 1;
}
